
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap" rel="stylesheet">

  <section class="container">
    <div class="error">
      <h1>Uh Ohh!</h1>
      <p>We couldn't find the page that you're looking for :(</p>
      <div class="cta">
        <button class="cta-back" routerLink = "/login">Go Back</button>
      </div>
    </div>
    <img src="https://github.com/smthari/404-page-using-html-css/blob/Starter/Images/404.png?raw=true" alt="home image" class="hero-img" />
  </section>
