<h1>Angular Training</h1>

<!-- <p>Counter : {{ count }}</p>

<button (click) = "increase()">Increase</button>
<button (click) = "decrease()">Decrease</button>

<button (click) = "toggle()">Toggle Message</button>

<p *ngIf = "isVisible">
  this appears and disappears
</p> -->

<!-- <h2>Name : {{name}}</h2>
<p>Age : {{age}}</p>

<button (click) = "increaseAge()">Increase Age</button>
<button (click) = "resetAge()">Reset Age</button> -->


<!-- <p> Sum : {{ getSum() }}</p>
<button (click) = "increaseAge()">Increase Age</button> -->



<!-- <img [src]="imageUrl">

<button [disabled]="isDisabled">Click Me</button>

<button (click)="isDisabled = !isDisabled">
  Toggle Disabled
</button> -->



<input (input) = "onInput($event)">
<p>You typed : {{typedValue}}</p>

<app-login></app-login>
<app-signup></app-signup>