<nav class="navbar">
    <div class="nav-left">Expense Tracker</div>
    <div class="nav-right">
        <a routerLink="/home" routerLinkActive="active"> Add Expense</a>
        <a routerLink="/transactions" routerLinkActive="active"> Transactions</a>
        <a routerLink="/login" routerLinkActive="active"> Login</a>
        <a routerLink="/register" routerLinkActive="active"> Register</a>
        <a routerLink="/logout" routerLinkActive="active"> Log Out</a>
    </div>
</nav>
<div class="mid">