<nav class="navbar">
    <div class="nav-left">Expense Tracker &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <span *ngIf = "users | async as user">
            Welcome {{user.name}}!!
        </span>
    </div>
    <div class="nav-right">
        
        <div *ngIf="users | async as user ; else guest">
            <a routerLink="/home" routerLinkActive="active"> Add Expense</a>
            <a routerLink="/transactions" routerLinkActive="active"> Transactions</a>
            <button (click)="logout()" class="nav-btn">Log Out</button>
        </div>
        <ng-template #guest>
            <a routerLink="/login" routerLinkActive="active"> Login</a>
            <a routerLink="/register" routerLinkActive="active"> Register</a>
        </ng-template>
    </div>
</nav>
<div class="mid">