<h1>Welcome {{userName}}</h1>

<h2>learning pipes</h2>

<h3>{{title}}</h3>
<h3>{{title | uppercase}}</h3>
<h3>{{title | titlecase}}</h3>
<h3>{{title | lowercase}}</h3>

<h3>{{date}}</h3>
<h3>{{date | date:'fullDate'}}</h3>
<h3>{{date | date}}</h3>
<h3>{{date | date:'hh:mm:ss'}}</h3>

<h3>{{amount}}</h3>
<h3>{{amount | currency}}</h3>
<h3>{{amount | currency:'EUR'}}</h3>
<h3>{{amount | currency:'INR'}}</h3>


<h3>{{date | date:'fullDate' | uppercase}}</h3>

<hr>
<h2>Custom Pipe</h2>

<h3>{{amount | currencyConvertor}}</h3>

<h3>{{amount | currencyConvertor : 12}}</h3>

<hr>
<h1>Service</h1>

<button (click) = "getProductData()">Load Product Data</button>

@for(item of productData ; track item){
    <br>{{item.productName}},
    {{item.price}},
    {{item.brand}}
    <br><br>
}