        <div class="mid">
            
        <form id="registerForm">
            <h2>Register</h2>

            <input type="text" id="name" placeholder="Name" /><br>
            <input type="email" id="email" placeholder="Email" /><br>
            <input type="password" id="password" placeholder="Password" /><br>
            <input type="number" id="age" placeholder="Age" />

            <p class="error" id="error"></p>

            <button class="btn" type="submit">Register</button>
        </form>
