<nav>
    <h2>logo</h2>
    <ul>
        <li>
            <a routerLinkActive = "active" [routerLinkActiveOptions]="{exact:true}" routerLink = "/home">Home</a>
        </li>
        <li>
            <a routerLinkActive = "active" routerLink = "/login">Login</a>
        </li>
        <li>
            <a routerLinkActive = "active" routerLink = "/signup">Signup</a>
        </li>
        <li>
            <a routerLinkActive = "active" routerLink = "/todolist">TO DO LIST</a>
        </li>
    </ul>
</nav>
